# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.make
*.cmake

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE related
*.xml
*.iml

# Folders
cmake-build-debug
